.history
docs/_site
*.annot
.coq_config
*.cm*
*.vo
*.vok
*.vos
*.v.d
*.glob
Makefile.coq
Makefile.coq.conf
\#*#
*~
.*.aux
*.a
*.o
*.ml4.d
*.mllib.d
*.d
.merlin
html/*.html
.lia.cache
.hidden
_opam/
.vscode/settings.json

erasure/src/*.ml
erasure/src/*.mli

template-coq/Ascii.ml
template-coq/Ascii.mli
template-coq/Ast0.ml
template-coq/Ast0.mli
template-coq/AstUtils.ml
template-coq/AstUtils.mli
template-coq/Basics.ml
template-coq/Basics.mli
template-coq/BinInt.ml
template-coq/BinInt.mli
template-coq/BinNat.ml
template-coq/BinNat.mli
template-coq/BinNums.ml
template-coq/BinNums.mli
template-coq/BinPos.ml
template-coq/BinPos.mli
template-coq/BinPosDef.ml
template-coq/BinPosDef.mli
template-coq/Bool.ml
template-coq/Bool.mli
template-coq/Checker0.ml
template-coq/Checker0.mli
template-coq/config0.ml
template-coq/config0.mli
template-coq/Datatypes.ml
template-coq/Datatypes.mli
template-coq/DecidableType.ml
template-coq/DecidableType.mli
template-coq/Decimal.ml
template-coq/Decimal.mli
template-coq/Equalities.ml
template-coq/Equalities.mli
template-coq/FMapWeakList.ml
template-coq/FMapWeakList.mli
template-coq/FSetWeakList.ml
template-coq/FSetWeakList.mli
template-coq/Induction.ml
template-coq/Induction.mli
template-coq/LiftSubst.ml
template-coq/LiftSubst.mli
template-coq/List0.ml
template-coq/List0.mli
template-coq/Logic.ml
template-coq/Logic.mli
template-coq/MSetWeakList.ml
template-coq/MSetWeakList.mli
template-coq/Makefile.conf
template-coq/Nat0.ml
template-coq/Nat0.mli
template-coq/PeanoNat.ml
template-coq/PeanoNat.mli
template-coq/Specif.ml
template-coq/Specif.mli
template-coq/String0.ml
template-coq/String0.mli
template-coq/Typing0.ml
template-coq/Typing0.mli
template-coq/UnivSubst0.ml
template-coq/UnivSubst0.mli
template-coq/Wf.ml
template-coq/Wf.mli
template-coq/monad_utils.ml
template-coq/monad_utils.mli
template-coq/uGraph0.ml
template-coq/uGraph0.mli
template-coq/universes0.ml
template-coq/universes0.mli
template-coq/utils.ml
template-coq/utils.mli

checker/src/ascii.ml
checker/src/ascii.mli
checker/src/ast0.ml
checker/src/ast0.mli
checker/src/astUtils.ml
checker/src/astUtils.mli
checker/src/basics.ml
checker/src/basics.mli
checker/src/binInt.ml
checker/src/binInt.mli
checker/src/binNat.ml
checker/src/binNat.mli
checker/src/binNums.ml
checker/src/binNums.mli
checker/src/binPos.ml
checker/src/binPos.mli
checker/src/binPosDef.ml
checker/src/binPosDef.mli
checker/src/bool.ml
checker/src/bool.mli
checker/src/checker0.ml
checker/src/checker0.mli
checker/src/config0.ml
checker/src/config0.mli
checker/src/datatypes.ml
checker/src/datatypes.mli
checker/src/decidableType.ml
checker/src/decidableType.mli
checker/src/decimal.ml
checker/src/decimal.mli
checker/src/equalities.ml
checker/src/equalities.mli
checker/src/fMapWeakList.ml
checker/src/fMapWeakList.mli
checker/src/fSetWeakList.ml
checker/src/fSetWeakList.mli
checker/src/induction.ml
checker/src/induction.mli
checker/src/liftSubst.ml
checker/src/liftSubst.mli
checker/src/list0.ml
checker/src/list0.mli
checker/src/logic.ml
checker/src/logic.mli
checker/src/mSetWeakList.ml
checker/src/mSetWeakList.mli
checker/src/monad_utils.ml
checker/src/monad_utils.mli
checker/src/templateMonad.ml
checker/src/templateMonad.mli
checker/src/nat0.ml
checker/src/nat0.mli
checker/src/peanoNat.ml
checker/src/peanoNat.mli
checker/src/specif.ml
checker/src/specif.mli
checker/src/string0.ml
checker/src/string0.mli
checker/src/typing0.ml
checker/src/typing0.mli
checker/src/uGraph0.ml
checker/src/uGraph0.mli
checker/src/universes0.ml
checker/src/universes0.mli
checker/src/univSubst0.ml
checker/src/univSubst0.mli
checker/src/utils.ml
checker/src/utils.mli
checker/src/wf.ml
checker/src/wf.mli
/checker/src/retyping0.mli
/checker/src/retyping0.ml
/erasure/Makefile.conf
/erasure/Makefile.extraction
/erasure/Makefile.extraction.conf
/erasure/Makefile.plugin
/erasure/Makefile.plugin.conf
/checker/Makefile.conf
/checker/src/ordersTac.mli
/checker/src/orderedType0.ml
/checker/src/orderedType0.mli
/checker/src/orders.ml
/checker/src/orders.mli
/checker/src/ordersTac.ml
/pcuic/Makefile.conf
/pcuic/src/templateToPCUIC.mli
/pcuic/src/templateToPCUIC.ml
/pcuic/src/pCUICUnivSubst.mli
/pcuic/src/pCUICUnivSubst.ml
/pcuic/src/pCUICTyping.mli
/pcuic/src/pCUICTyping.ml
/pcuic/src/pCUICLiftSubst.mli
/pcuic/src/pCUICLiftSubst.ml
/pcuic/src/pCUICAstUtils.mli
/pcuic/src/pCUICAstUtils.ml
/pcuic/src/pCUICAst.mli
/pcuic/src/pCUICAst.ml
/pcuic/Makefile.extraction
/pcuic/Makefile.extraction.conf
/pcuic/Makefile.pcuic
/pcuic/Makefile.pcuic.conf
/pcuic/Makefile.plugin
/pcuic/Makefile.plugin.conf
/pcuic/src/pCUICChecker.ml
/pcuic/src/pCUICChecker.mli
/pcuic/src/pCUICRetyping.ml
/pcuic/src/pCUICRetyping.mli
/pcuic/src/templateToPCUIC.ml.rej
/pcuic/src/templateToPCUIC.mli.rej
/checker/src/basicAst.ml
/checker/src/basicAst.mli
/checker/src/typingWf.ml
/checker/src/typingWf.mli
/pcuic/src/pCUICSubstitution.ml
/pcuic/src/pCUICSubstitution.mli
/pcuic/src/pCUICWeakening.ml
/pcuic/src/pCUICWeakening.mli
/pcuic/src/pCUICWeakeningEnv.ml
/pcuic/src/pCUICWeakeningEnv.mli
/pcuic/src/pCUICNormal.ml
/pcuic/src/pCUICNormal.mli
/pcuic/src/pCUICPosition.ml
/pcuic/src/pCUICPosition.mli
/template-coq/theories/*.vio
/template-coq/theories/kernel/*.vio
/template-coq/theories/TemplateMonad/*.vio
/pcuic/src/logic0.mli
/pcuic/src/logic0.ml
/pcuic/src/logic.mli
/pcuic/src/logic.ml
/pcuic/src/init.mli
/pcuic/src/init.ml
/pcuic/src/classes0.mli
/pcuic/src/classes0.ml
/checker/metacoq-config
/translations/metacoq-config
/erasure/_CoqProject
/erasure/_PluginProject
/erasure/metacoq-config
/pcuic/_CoqProject
/pcuic/_PluginProject
/pcuic/metacoq-config
/checker/_CoqProject
/safechecker/metacoq-config
/safechecker/_PluginProject
/safechecker/_CoqProject
/safechecker/Makefile.safechecker.conf
/safechecker/Makefile.safechecker
/safechecker/Makefile.plugin.conf
/safechecker/Makefile.plugin
/pcuic/src/signature.ml
/pcuic/src/signature.mli
/template-coq/Makefile.template
/template-coq/Makefile.template.conf
/checker/_PluginProject
/checker/Makefile.plugin.conf
/checker/Makefile.plugin
/erasure/Makefile.erasure
/erasure/Makefile.erasure.conf
/pcuic/src/PCUICPretty.ml
/pcuic/src/PCUICPretty.mli
/pcuic/src/ssreflect.ml
pcuic/src/cMorphisms.ml
pcuic/src/cMorphisms.mli
pcuic/src/eqDecInstances.ml
pcuic/src/eqDecInstances.mli
pcuic/src/pCUICEquality.ml
pcuic/src/pCUICEquality.mli
pcuic/src/pCUICInduction.ml
pcuic/src/pCUICInduction.mli
pcuic/src/pCUICPretty.ml
pcuic/src/pCUICPretty.mli
pcuic/src/pCUICReflect.ml
pcuic/src/pCUICReflect.mli
pcuic/src/pCUICUtils.ml
pcuic/src/pCUICUtils.mli

/pcuic/src/ssreflect.mli
/_opam


template-coq/gen-src/cRelationClasses.mli.rej
.DS_Store

/translations/_CoqProject
test-suite/vs.mli
test-suite/vs.ml
test-suite/myMain.mli
test-suite/myMain.ml
test-suite/plugin-demo/Makefile.plugin

template-coq/Makefile.plugin-e
template-coq/Makefile.template-e
template-coq/src/g_template_coq.ml
pcuic/Makefile.plugin-e
erasure/Makefile.plugin-e
safechecker/Makefile.plugin-e
myMain.ml
myMain.mli
vs.ml
vs.mli
*.v.timing
time-of-build.log
time-of-build-pretty.log
_build/**
extraction/src/*.ml
extraction/src/*.mli
test-suite/plugin-demo/Makefile.plugin
template-coq/gen-src/cRelationClasses.mli.bak
template-coq/gen-src/specFloat.ml.rej

bidirectional/CoqMakefile

bidirectional/CoqMakefile.conf

bidirectional/.vscode/
erasure/src/decidableType.ml
erasure/src/decidableType.mli
erasure/src/fMapAVL.ml
erasure/src/fMapAVL.mli
erasure/src/fMapFacts.ml
erasure/src/fMapFacts.mli
erasure/src/fMapInterface.ml
erasure/src/fMapInterface.mli
erasure/src/fMapList.ml
erasure/src/fMapList.mli
erasure/src/pCUICEnvMap.ml
erasure/src/pCUICEnvMap.mli
erasure/src/pCUICExpandLetsCorrectness.ml
erasure/src/pCUICExpandLetsCorrectness.mli
erasure/src/pCUICWfEnv.ml
erasure/src/pCUICWfEnv.mli
erasure/src/orderedType0.ml
erasure/src/orderedType0.mli
erasure/src/eRemoveParams.ml
erasure/src/eRemoveParams.mli
erasure/src/eSpineView.ml
erasure/src/eSpineView.mli
erasure/src/eWcbvEval.ml
erasure/src/eWcbvEval.mli
erasure/src/pCUICWcbvEval.ml
erasure/src/pCUICWcbvEval.mli
erasure/src/wcbvEval.ml
erasure/src/wcbvEval.mli
erasure/src/envMap.ml
erasure/src/envMap.mli
erasure/src/eEtaExpanded.ml
erasure/src/eEtaExpanded.mli
erasure/src/pCUICEqualityDec.ml
erasure/src/pCUICEqualityDec.mli
erasure/src/eEnvMap.ml
erasure/src/eEnvMap.mli
erasure/src/eGlobalEnv.mli
erasure/src/eGlobalEnv.ml
Makefile.conf
test-suite/plugin-demo/src/META.coq-metacoq-demo-plugin
pcuic/src/META.coq-metacoq-pcuic
examples/_CoqProject
test-suite/_CoqProject
examples/metacoq-config
test-suite/metacoq-config
test-suite/plugin-demo/_CoqProject
test-suite/plugin-demo/_PluginProject
test-suite/plugin-demo/metacoq-config
